---
layout: default
custom_css_class: home
---

{% for post in paginator.posts %}
  <article>
    {% if post.type == 'post' %}
      <h1>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | no_widows }}</a>
      </h1>
      <p class="post-meta">{% include time.html the_date=post.date %}</p>
      {{ post.content }}
    {% elsif post.type == 'link' %}
      <h4><a href="{{ post.link }}" class="link-item">{{ post.title | no_widows }}</a>&nbsp;<a href="{{ post.url }}" class="link_icon" title="Permalink">&nbsp;<i class="icon ion-bookmark"></i></a></h4>
      {{ post.content }}
    {% endif %}
  </article>
  {% if post.type == 'post' %}
    <div class="article-divider">
      <svg height="1" width="300">
        <line x1="0" y1="0" x2="300" y2="0" style="stroke:#f135a6;stroke-width:1" />
      </svg>
    </div>
  {% endif %}
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/" class="previous-link"><i class="icon ion-chevron-left"></i></a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}/" class="previous-link"><i class="icon ion-chevron-left"></i></a>
      {% endif %}
    </li>
  {% endif %}

  {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}/" class="next-link"><i class="icon ion-chevron-right"></i></a>
    </li>
  {% endif %}
</ul>
