---
layout: default
custom_css_class: home
---

{% for post in paginator.posts %}
  <article>
    {% if post.type == 'post' %}
      <h1>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | no_widows }}</a>
      </h1>
      <p class="post-meta">{% include time.html the_date=post.date %}</p>
      {{ post.content }}
    {% elsif post.type == 'link' %}
      <h4 class="link-item-container"><a href="{{ post.link }}" class="link-item">{{ post.title | no_widows }}</a>&nbsp;<span class="link_icon">→</span></h4>
      <p class="post-meta">{% include time.html the_date=post.date %}<a href="{{ post.url }}" title="Permalink">∞</a></p>
      {{ post.content }}
    {% endif %}
  </article>
  {% if post.type == 'post' %}
    <div class="article-divider">
      &#9830;&#xFE0E;&#9830;&#xFE0E;&#9830;&#xFE0E;
    </div>
  {% endif %}
{% endfor %}

<div class="pager">
  <ul>
    {% if paginator.previous_page %}
      <li class="previous">
        {% if paginator.previous_page == 1 %}
          <a href="/" class="previous-link">Prev</a>
        {% else %}
          <a href="{{ paginator.previous_page_path }}/" class="previous-link">Prev</a>
        {% endif %}
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path }}/" class="next-link">Next</a>
      </li>
    {% endif %}
  </ul>
</div>
