    </div><!-- .page-wrap -->
      <footer>
        <ul>
          <li><strong>Twitter:</strong>&nbsp;<a href="https://twitter.com/stephenhowells">@stephenhowells</a></li>
          <li><strong>GitHub:</strong>&nbsp;<a href="https://github.com/stephenhowells">stephenhowells</a></li>
        </ul>
      <p>Made with <i class="icon ion-heart"></i> in sunny Arizona. <span class="copy">Copyright &copy; 2014-{{ site.time | date: "%Y" }} Stephen&nbsp;Howells</span></p>
    </footer>
  {% include scripts.html %}
  </body>
</html>
