<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
          menu
      </button>
      <a class="navbar-brand" href="/">StephenHowells<span>.net</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/archives/">Archives</a>
        </li>
        <li>
          <a href="/search/">Search</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="https://github.com/stephenhowells/stephenhowells.net">Source</a>
        </li>
        <li>
          <a href="{{ site.url }}/feeds/main.xml">RSS</a>
        </li>
      </ul>
    </div>
  </div>
</div>
