footer {
  width: 100%;
  height: $footer-height;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  i {
    color: $accent-color;
  }
  p, ul {
    color: $body-font-color;
    font-size: 0.8em;
    font-family: $date-font;
    margin: 0 auto;
    max-width: $max-width;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 10px 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .copy {
    white-space: nowrap;
  }
}
