// Fonts
$font-stack:  "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline-fonts: "Sentinel SSm A", "Sentinel SSm B", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$code-font: "Operator Mono A", "Operator Mono B", 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$date-font: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$footnotes: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$accent-color: #ce2d10;
$body-font-color: #414141; // Matte Black
$body-bg-color: #ffffff;
$bg-contrast: #efefef;

// Dimensions
$footer-height: 100px;
$max-width: 600px;
