// Fonts
$font-stack:  "Sentinel SSm A", "Sentinel SSm B", "Whitney SSm A", "Whitney SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$headline-fonts: "Whitney Cond SSm A", "Whitney Cond SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$code-font: "Operator Mono A", "Operator Mono B", 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$date-font: "Whitney Cond SSm A", "Whitney Cond SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$footnotes: "Whitney Cond SSm A", "Whitney Cond SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;

// Colors
$accent-color: #f57077;
$body-font-color: #555;
$body-bg-color: #fff;
$bg-contrast: #efefef;

// Dimensions
$footer-height: 100px;
$max-width: 600px;
$radius: 4px;

// Grid
$small-grid: (
  gutter: 0,
  media: 200px,
);

$transition-grid: (
  gutter: 5px,
  media: 600px,
);

$medium-grid: (
  gutter: 20px,
  media: 700px,
);

$large-grid: (
  gutter: 60px,
  media: 960px,
);

$x-large-grid: (
  gutter: 60px,
  media: 1300px,
);

@mixin page-box {
  @include grid-column;

  @include grid-media($small-grid) {
    @include grid-column(12);
    @include grid-push(0);
  }

  @include grid-media($transition-grid) {
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($medium-grid) {
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($large-grid) {
    @include grid-column(8);
    @include grid-push(2);
  }

  @include grid-media($x-large-grid) {
    @include grid-column(6);
    @include grid-push(3);
  }
}
