// Fonts
$font-stack:  "Whitney SSm A", "Whitney SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$headline-fonts: "Whitney Cond SSm A", "Whitney Cond SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$code-font: "Operator Mono A", "Operator Mono B", 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$date-font: "Whitney SSm A", "Whitney SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$footnotes: "Whitney SSm A", "Whitney SSm B", system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;

// Colors
$accent-color: #f135a6;
$body-font-color: #555555;
$body-bg-color: #ffffff;
$bg-contrast: #efefef;

// Dimensions
$footer-height: 100px;
$max-width: 600px;
