html, body {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: $footer-height;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: circle;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

article {
  @include grid-container;
  margin-bottom:120px;

  h1, h2, h3, h4, h5, h6, p, ol, ul, table, blockquote, .archive-list, .search, video  {
    @include page-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  p, ul, ol, blockquote, table, pre {
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .highlighter-rouge {
    overflow: hidden;
    width: 100%;
  }

  pre {
    background: none;
    border-top: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    overflow: hidden;
    width: 100%;
  }

  pre code {
    @include page-box;
    overflow-x: auto;
    padding: 12px 10px;
  }

  p code, li code {
    border: 1px #e0e0e0 solid;
    padding: 4px;
  }

  blockquote {
    border-left: 4px solid $accent-color;
    p, ul, ol {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }
  .link_icon {
    border: 0;
    margin-left: 12px;
  }
}

.post-meta, .post-meta-link {
  display: block;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.article-divider {
  display: block;
  text-align: center;
  margin-bottom: 120px;
  height: 1px;
  line-height: 1px;
}

.search {
  margin-top: 12px;
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  opacity: 1;
  transition: opacity .3s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &.small-img {
    transform: scale(0.5);
  }
}

.archive-list {
  margin: 0 0 60px 0;
  * {
    margin-left: 0;
    padding-left: 0;
  }
  h3 {
    width: 100%;
    margin-top: 0;
  }
}

.four-oh-four {
  video {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .explanation {
    width: 100%;
    overflow: hidden;
    background: #fafafa;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
}

.footnotes {
  ol {
    border-top: 1px dashed #eaeaea;
    padding-top: 12px;
    padding-left: 0px;
    list-style-position: inside;
    li {
      padding: 0 10px;
      p {
        margin: 0 0 20px;
        width: 100%;
        padding-left: 10px;
        float: none;
        display: inline;
      }
    }
  }
}

footer {
  @include grid-container;
  height: $footer-height;
  background-color: #414141;
  padding-top: 16px;
  p, ul {
    @include page-box;
  }
  p {
    margin-top: 0;
    padding: 0 10px;
  }
  ul {
    padding: 0 10px;
    margin-bottom: 4px;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 10px 0 0;
    }
  }
}
