@media (max-width: 599px) {
  .page-wrap {
    min-height: 150%;
    margin-bottom: -150px;
  }

  blockquote,
  li,
  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 12px 0 20px !important;

    .logo {
      margin-bottom: 12px;

      .mark {
        svg {
          margin: 0 auto !important;
        }
      }

      .nav-logo {
        font-size: 1.1rem !important;
      }
    }

    ul {
      background: #fafafa;
    }
  }

  article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul,
    table,
    .archive-list,
    .search,
    video,
    pre code {
      padding-left: 20px;
      padding-right: 20px;
    }
    li {
      margin-left: 30px;
    }
    blockquote {
      width: auto;
      margin: 0 20px;
      clear: both;
      float: none;
    }
  }

  .pager {
    ul {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  footer {
    height: 150px;

    p {
      padding: 0 20px;
    }

    ul {
      padding: 0 20px;
    }
  }
}
