@media (max-width: 767px) {
  .page-wrap {
    padding-top: 0;
  }

  .navbar {
    margin: 0 auto 40px !important;
  }
  .navbar-default .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-default .navbar-nav.navbar-right > li:first-child {
    border-top: 0;
    border-bottom: 0;
  }
  .navbar-default .navbar-nav > li {
    border-bottom: 0;
    a {
      color: lighten($body-font-color, 15%);
      font-family: $font-stack;
      font-size: 0.7em;
      background: transparent;
      padding-left: 10px;
      i {
        font-size: 1.2em;
        display: none;
      }
    }
  }
}

@media
  only screen and (min-device-width : 540px)
  and (orientation : portrait),
  only screen and (min-device-width : 375px)
  and (orientation : portrait),
  only screen and (min-device-width : 320px)
  and (orientation : portrait) {
  h1 {
    font-size: 2.4em;
    line-height: 1.4em;
  }
  h2 {
    font-size: 1.8em;
  }
  a.link-item {
    font-size: 1.1em;
  }
  a.link_icon {
    font-size: 1em;
  }
  article {
    ul, ol {
      padding-left: 40px;
    }
    .footnotes ol {
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
