nav {
  @include grid-container;

  .nav {
    @include page-box;
    margin: 30px 0 60px 0;

    .logo {
      display: block;
      clear: both;
      text-align: center;
      margin-bottom: 20px;

      .mark {
        fill: currentColor;
        color: $body-font-color;

        svg {
          width: 25%;
          margin: 0 auto 10px;
        }
      }

      .nav-logo {
        display: block;
        color: $accent-color;
        letter-spacing: 0.1rem;
      }
    }

    ul {
      display: block;
      clear: both;
      text-align: center;
      border-top: 1px solid $body-font-color;
      border-bottom: 1px solid $body-font-color;

      li {
        list-style: none;
        display: inline-block;

        a {
          padding: 0 10px;
          color: lighten($body-font-color, 10%);
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}
