nav {
  @include grid-container;

  .nav {
    @include page-box;
    margin: 60px 0;

    .logo {
      display: block;
      clear: both;
      text-align: center;
      margin-bottom: 20px;

      .nav-logo {
        &:hover {
          color: $body-font-color;
        }
      }
    }

    ul {
      display: block;
      clear: both;
      text-align: center;
      border-top: 1px solid $body-font-color;
      border-bottom: 1px solid $body-font-color;

      li {
        list-style: none;
        display: inline-block;

        a {
          padding: 0 10px;
          color: lighten($body-font-color, 10%);
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}
