.navbar-static-top {
  margin-bottom: 30px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
  background: mix(#fafafa, $accent-color, 94%) !important;
}

.navbar-default .navbar-toggle {
  border: 1px solid $accent-color !important;
  color: $accent-color;
  margin: 12px 15px 0 0;
  padding: 0 10px;
  line-height: 24px;
  border-radius: 0;
  font-family: $headline-fonts;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar {
  border-bottom: 0;
  background: transparent;
  font-family: $font-stack;
  margin: 20px auto 80px !important;
  max-width: $max-width;
  width: auto;
  z-index: 1;
}

.navbar-default .navbar-brand {
  color: $body-font-color;
  font-weight: 600;
  background: none;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  font-family: $headline-fonts;
  padding-left: 10px;
  span {
    color: lighten($body-font-color, 10%);
    font-size: 0.85em;
  }
  &:hover {
    color: $accent-color;
  }
}

.navbar-default .navbar-nav > li > a {
  color: lighten($body-font-color, 10%);
  font-family: $headline-fonts;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.12em;
  &:hover {
    color: $accent-color;
  }
}

.navbar-collapse {
  border-top: 0px;
}
