.pager {
  @include grid-container;

  margin-bottom: 80px;

  ul {
    @include page-box;

    padding-left: 10px;
    padding-right: 10px;

    li {
      list-style: none;

      a {
        background: $body-font-color;
        padding: 14px;
        margin: 0;
        border-radius: $radius;
      }
    }
  }
}

.pager li > a.previous-link {
  float: left;
}

.pager li > a.next-link {
  float: right;
}
