body {
  color: $body-font-color;
  -webkit-font-smoothing: antialiased;
}

p,
ol,
ul,
table,
blockquote {
  font-family: $font-stack;
}

blockquote,
li,
p {
  font-size: 0.95rem;
  line-height: 1.7rem;
}

blockquote {
  p {
    color: lighten($body-font-color, 10%);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-fonts;
  font-weight: 600;

  small {
    color: lighten($body-font-color, 10%);
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  color: $accent-color;
  transition: 0.3s;

  &:hover {
    color: $body-font-color;
  }

  &:focus {
    outline: none;
    color: $body-font-color;
  }

  &.link-item {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: $headline-fonts;
    text-decoration: none;
  }

  &.link_icon {
    color: lighten($body-font-color, 10%);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $body-font-color;
    }
  }

  &.reversefootnote {
    text-decoration: none;
  }
}

nav {
  .nav {
    .logo {
      .nav-logo {
        color: $body-font-color;
        font-family: $headline-fonts;
        font-size: 1.05rem;
        font-weight: 600;
        text-decoration: none;
        line-height: 2rem;

        &:hover {
          color: $accent-color;
        }

        span {
          color: lighten($body-font-color, 10%);
          font-size: 0.85rem;
        }
      }
    }

    ul {
      li {
        a {
          text-decoration: none;
          color: $body-font-color;
          font-family: $headline-fonts;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 0.8rem;
          line-height: 2.25rem;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

.post-meta,
.post-meta-link {
  font-size: 0.7rem;
  text-align: left;
  font-family: $date-font;
  color: lighten($body-font-color, 10%);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pubdate {
  font-family: $date-font;
  letter-spacing: 0;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 2rem;
}

h1 {
  font-size: 2.6rem;

  a {
    color: $body-font-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }
}

.article-divider {
  color: $bg-contrast;
}

pre {
  white-space: pre-wrap;
}

pre code {
  white-space: pre-wrap;
  word-break: keep-all;
  font-size: 0.9rem;
  color: #151515;
}

code {
  font-family: $code-font;
  tab-size: 4;
  line-height: 1.7rem;
  word-break: normal;
}

p code,
li code {
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  background: #fafafa;
  font-size: 0.85rem !important;
}

.mono {
  font-family: $code-font;
}

kbd {
  background: #efefef;
  color: $body-font-color;
  font-size: 0.85em;
  font-family: $code-font;
  padding: 2px 4px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-query {
  font-size: 0.8rem;
  font-family: $font-stack;
}

.four-oh-four {
  h1 {
    span {
      color: $accent-color;
    }
  }

  .explanation {
    p {
      font-size: 1em;
      font-family: $code-font;
    }
  }
}

.pager li > a {
  color: $body-bg-color;
  font-family: $font-stack;
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $body-bg-color;
    background: $accent-color;
  }
}

footer {
  i {
    color: #f57077;
  }

  p,
  li {
    font-size: 0.7rem;
    color: $body-bg-color;
    font-family: $font-stack;

    a {
      color: darken($body-bg-color, 15%);
    }
  }

  li {
    a {
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .copy {
    white-space: nowrap;
  }
}

.archives h1 {
  margin-bottom: 72px;
}

.reversefootnote {
  padding: 3px 4px 0;
  vertical-align: -0.2rem;
  font-size: 0.95rem;
  line-height: 0;
  color: lighten($body-font-color, 30%);
}
