---
layout: default
custom_css_class: single-post
---
<article>
  {% if page.type == 'post' %}
    <h1 class="post-title">{{ page.title | no_widows }}</h1>
    <p class="post-meta">{% include time.html the_date=page.date %}</p>
    {{ content }}
  {% elsif page.type == 'link' %}
    <h4 class="link-item-container"><a href="{{ page.link }}" class="link-item">{{ page.title | no_widows }}</a>&nbsp;<span class="link_icon">→</span></h4>
    <p class="post-meta-link">{% include time.html the_date=page.date %}</p>
    {{ content }}
  {% endif %}
</article>
